/* Project: footer
 * Подвал сайта
-------------------------------------------------- */
.b-footer {
	$footer--bg-color: $color--cinder;
	$footer--height: 102px;

	height: $footer--height;
	background-color: $footer--bg-color;
	position: relative;

	&:after,
	&:before {
		content: '';
		position: absolute;
		background-color: $footer--bg-color;
		width: 100vw;
		height: 100%;
		top: 0;
	}

	&:after {
		left: 100%;
	}

	&:before {
		right: 100%;
	}

	&__inner {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		width: 100%;
		flex-grow: 0;
		flex-shrink: 1;
	}

	&__copyright {
		font-size: 11px;
		color: #fff;
		text-align: center;
		font-weight: 300;
	}
}
/* /Project: header */