/* Project: form.scss
 * Формы
-------------------------------------------------- */
.b-form {
	&__line {
		//margin-top: 30px;

		&:last-child {
			margin-bottom: -30px;
		}
	}

	&__field-wrapper {
		position: relative;
		width: 100%;
		margin-bottom: 30px;
	}

	&__field-input {}

	&__field-label {
		color: $color--nobel;
		top: -1.75em;
		display: block;
		transform: translateY(0);
		position: absolute;
		transition: .2s ease-out all;
	}

	&__field-wrapper--smart {
		.b-form__field-label {
			top: 50%;
			transform: translateY(-50%);
			left: 0.75em;
			pointer-events: none;
		}

		.parsley-errors-list + .b-form__field-label,
		.b-form__field-input:focus + .b-form__field-label,
		.b-form__field-input.is-fill + .b-form__field-label {
			top: -1.75em;
			transform: translateY(0);
		}
	}

	&__field {

	}

	&__field--radio-group {
		display: flex;
		flex-wrap: wrap;
		flex-shrink: 0;
		flex-grow: 1;

		.b-radio-button {
			margin-right: 14px;
		}
	}

	input.parsley-success,
	select.parsley-success,
	textarea.parsley-success {
		border-color: $color--kelly-green;
	}

	input.parsley-error,
	select.parsley-error,
	textarea.parsley-error {
		border-color: $color--cardinal;
	}

	.parsley-errors-list {
		position: absolute;
		padding: 0;
		font-size: 0.9em;
		line-height: 0.9em;
		opacity: 0;
		margin: 0;
		transition: all .3s ease-in;

		li {
			list-style-type: none !important;
		}
	}

	.parsley-errors-list.filled {
		opacity: 1;
	}
}

@include breakpoint(sm) {
	.b-form {
		&__field--radio-group {
			margin-top: 10px;
		}
	}
}
/* /Project: form.scss */