extends ../includes/layout

block content
    h1 Заголовок H1
    h2 Заголовок H2
    h3 Заголовок H3
    h4 Заголовок H4
    h5 Заголовок H5
    h6 Заголовок H6

    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent justo urna, laoreet a pellentesque ut, volutpat sit amet leo. Maecenas justo neque, accumsan in felis a, condimentum commodo metus. Proin id tortor dictum, placerat dui eget, iaculis enim. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse vulputate scelerisque volutpat. Aliquam erat volutpat.
    p Duis fringilla varius quam, vitae ultrices risus tristique non. Nam eleifend a justo non pulvinar. Sed nulla enim, accumsan efficitur mi nec, tempus imperdiet ex. Etiam vitae consequat mauris. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nulla porta ut est vitae rhoncus. Aenean at tellus sed erat auctor luctus. Mauris efficitur in eros in viverra. Cras sagittis nulla vitae volutpat laoreet. Aliquam convallis iaculis velit, nec gravida libero. Maecenas elementum rhoncus imperdiet. Aliquam velit dui, tincidunt at tellus sit amet, placerat tincidunt orci. Donec semper magna quis est tincidunt, nec tempor tortor rutrum. Suspendisse ut vehicula lorem, ut auctor ex.

    ul
        li Элемент ненумерованного списка 1
        li Элемент ненумерованного списка 2
        li Элемент ненумерованного списка 3

    ol
        li Элемент нумерованного списка 1
        li Элемент нумерованного списка 2
        li Элемент нумерованного списка 3

    button Кнопка

    a(href="#")