$icon_font_name:"webfont";

$webfont-icon--arrow--right: "\E001";
$webfont-icon--social--fb: "\E002";
$webfont-icon--social--ok: "\E003";
$webfont-icon--social--twitter: "\E004";
$webfont-icon--social--vk: "\E005";

@mixin webfont-icon($icon-code, $after-or-before: 'before') {
	&:#{$after-or-before} {
		content: #{'"\\' + $icon-code + '"'};
		display: inline-block;
		font-family: $icon_font_name;
		font-style: normal;
		line-height: 1;
		color: currentColor;
		-webkit-font-smoothing: antialiased;
		speak: none;
	}
}

@font-face {
	font-family: $icon_font_name;
	src: url('/fonts/webfont/webfont.woff') format('woff'),
	url('/fonts/webfont/webfont.woff2') format('woff2'),
	url('/fonts/webfont/webfont.svg#webfont') format('svg');
}

.webfont-icon {
	font-family: $icon_font_name;
	display: inline-flex;
	align-items: center;
	font-style: normal;
	speak: none;
	color: currentColor;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

.webfont-icon--arrow--right:before {
	content: '\E001';
}

.webfont-icon--social--fb:before {
	content: '\E002';
}

.webfont-icon--social--ok:before {
	content: '\E003';
}

.webfont-icon--social--twitter:before {
	content: '\E004';
}

.webfont-icon--social--vk:before {
	content: '\E005';
}


