/* Base: tables.scss
 * Обычные и кастомные таблицы
-------------------------------------------------- */
.b-custom-table {
	$custom-table--header-bg: $color--cardinal;
	$custom-table--header-color: #fff;
	$custom-table--summary-bg: $color--cardinal;
	$custom-table--summary-color: #fff;
	$custom-table--body-bg: $color--azure;
	$custom-table--body-color: $color--cinder;
	$custom-table--font-size: 15px;

	border-radius: 5px;
	overflow: hidden;

	&__inner {
		font-size: $custom-table--font-size;
		display: table;
	}

	&__noty {
		padding: 15px 0;
		display: none;
	}

	&__summary {
		background: $custom-table--summary-bg;
		color: $custom-table--summary-color;
		font-weight: 500;
	}

	&__summary-title {
		padding: 13px 15px;
	}

	&__row {
		display: table-row;
	}

	&__cell {
		display: table-cell;
		padding: 13px 15px;
		text-align: left;
		vertical-align: top;
	}

	&__cell--title {
		width: 48%;

		.title {

		}

		.description {
			display: block;
			color: $color--bali-hai;
			font-size: 13px;
		}
	}

	&__cell--action {
		width: 15%;

		.i-button {
			margin-top: -5px;
		}
	}

	&__cell--price {
		.price-with-tax {
			display: block;
			color: $color--bali-hai;
			font-size: 13px;
		}
	}

	&__header {
		display: table-row-group;
	}

	&__header &__row {
		background: $custom-table--header-bg;
		color: $custom-table--header-color;
		font-weight: 500;
	}

	&__body {
		display: table-row-group;
	}

	&__body &__row {
		background: $custom-table--body-bg;
		color: $custom-table--body-color;
		font-weight: 300;

		&:not(:last-child) .b-custom-table__cell {
			border-bottom: 1px solid $color--pattens-blue;

		}
	}

	&__footer {
		display: table-row-group;
	}

	&__footer &__row {
		background: $custom-table--header-bg;
		color: $custom-table--header-color;
		font-weight: 500;
	}

	&.is-noty {
		.b-custom-table__inner {
			display: none;
		}

		.b-custom-table__summary {
			display: none;
		}

		.b-custom-table__noty {
			display: block;
		}
	}
}

.b-custom-table--full-width {
	width: 100%;
}

@include breakpoint(sm) {
	.b-custom-table {
		display: block;

		&__row {
			display: flex;
			position: relative;
		}

		&__body &__row {
			border-bottom: 1px solid $color--pattens-blue;
			padding-bottom: 40px;
		}

		&__cell {
			display: block;
			border-bottom: none !important;
		}

		&__cell--title {
			width: 48%;
		}

		&__cell--year {
			position: absolute;
			bottom: 20px;
			left: 15px;
			padding: 0;
		}

		&__cell--status {
			position: absolute;
			bottom: 20px;
			left: 65px;
			padding: 0;
		}

		&__cell--action {
			position: absolute;
			bottom: 15px;
			right: 15px;
			padding: 0;
		}

		&__header {
			display: none;
		}

		&__body {
			display: block;
		}

		&__footer {
			display: block;
		}
	}
}

/* /Base: tables.scss */